@page "/"
@inject SharedData data
@rendermode InteractiveServer
@using Blazor_Laboration.Services

<PageTitle>Home</PageTitle>
<div class="container">
	<h1 class="mb-5 fw-bold">Products</h1>
	<div class = "row row-cols-3">
	@foreach (var product in data.Products)
	{
		<div class = "col" style="width: 20rem">
				<div style="width:100%">
					<ProductCard @rendermode="InteractiveServer" Product="product" ShoppingCartId="data.ShoppingCart.Id" />
				</div>
				<div class="mb-5 bg-dark rounded-bottom p-1">
					<BuyButton @rendermode="InteractiveServer" ProductId="product.Id" ShoppingCartId="data.ShoppingCart.Id" />
				</div>
			</div>
	}
	</div>
</div>