@page "/"
@inject SharedData data
@rendermode InteractiveServer
@using Blazor_Laboration.Services

<PageTitle>Home</PageTitle>
<div class="d-flex justify-content-start" style="width:100%">
	@foreach (var product in data.Products)
	{
		<ProductCard @rendermode="InteractiveServer" Product="@product" ShoppingCartId=@data.ShoppingCart.Id />
	}
</div>
<div>
	@foreach (var cartItem in data.ShoppingCart.CartItems)
	{
		<p>@cartItem.Product.Name  @cartItem.Product.Price Quantity : @cartItem.Quantity</p>
	}
</div>