@using Blazor_Laboration.Interfaces
@using System.ComponentModel.DataAnnotations
@inject IBlazorRepository repository

<label for="@ProductQuantity" class="text-light">Quantity</label>
<input type="number" @bind="ProductQuantity" class="col-2 rounded-3" min="1"/>
<button class="btn btn-outline-light float-xl-end pt-0" @onclick=BuyAsync>Buy</button>




@code 
{
    [Parameter]
    public int ProductId { get; set; }

    [Parameter]
    public int ShoppingCartId { get; set; }

    [Parameter]
    public int ProductQuantity { get; set; } = 1;

    async Task BuyAsync()
    {
        await repository.AddToCartAsync(ProductId, ShoppingCartId, ProductQuantity);
    }
}
